body {
    text-align: center;
    margin: 40px auto; !important
    max-width: 1200px;
    font: Arial;
}

table {
    text-align:center;
    margin: 40px auto;
    max-width: 1200px;
    border='1'
}

.title {
    font: Arial;
    text-align:center;
    max-width: 1200px;
    font-size: xx-large;
}

.rink {
    text-align: right;
    padding-bottom: 0
}

#button {
    text-align: center;
}

#detail01 {
    display: inline;
    text-align: center;
}
