* {font: 100% Arial;}
h1 {font : 150% Arial;}
body {
      padding: 20px;
      text-align: center;
      height: 100px;
      font: 100% Arial;
      color: #5b2f01d1;
     }
table {
       width: 100%;
       list-style-type: none;
       border: #999 solid 1px;
       margin: 0 0 10px 0;
       padding: 10px 30px;
       text-align: center;
      }

li {
    margin: 0 0 10px 0;
    padding: 10px 30px;
    text-align: center;
    pointer-events: auto;
   }
